project_id = "YOUR_GCP_PROJECT_ID" 
zone         = "us-central1-a"         
instance_count = 1                     
disk_count_per_instance = 2            
machine_type = "e2-medium"            
boot_disk_image = "ubuntu-os-cloud/ubuntu-2204-lts" 
disk_size_gb = 10                      
disk_type    = "pd-ssd"                
instance_name_prefix = "gce-vm"       
disk_name_prefix     = "extra-disk"    
